@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




*{
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 216, 90);
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

#root{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.Box{
    background-color: rgb(12, 66, 204);
    padding: 2rem;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    width: 700px;
}

.Box button{
background-color:rgb(22, 216, 90);
border: 0;
border-radius: 3px;
color: azure;
padding: 0.4rem 1rem;
cursor: pointer;
}



.Box button:active{
    transform: scale(0.98);
}
